* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  background-color: rgba(127, 255, 212, 0.356); }

main {
  width: 50vw;
  height: 80vh;
  margin-top: 10vh;
  margin: 5vh 25vw 0 25vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }

aside {
  height: 8em;
  width: 12em;
  background-color: rgba(250, 235, 215, 0.329);
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.548);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 1em;
  right: 1em;
  z-index: 100; }
  aside div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 10em; }
  aside .div__item {
    width: auto; }
    aside .div__item img {
      height: 1.5em; }

.aside-2 {
  left: 1em; }
  .aside-2 .pedido {
    font-size: 1.3em;
    text-decoration: underline; }

.aside-3 {
  left: 1em;
  top: auto;
  bottom: 1em;
  height: 20em; }
  .aside-3 button {
    border: hidden;
    background-color: rgba(127, 255, 212, 0.288);
    border-radius: 5px;
    padding: 0.2em 1.3em; }
  .aside-3 label {
    text-decoration: underline; }

.aside-4 {
  left: auto; }

article {
  height: 10em;
  width: 12em;
  background-color: rgba(250, 235, 215, 0.596);
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.548);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center; }
  article div {
    height: 6em;
    width: 11em;
    background-color: rgba(215, 245, 250, 0.596);
    border-radius: 5px;
    border: 2px dashed black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
  article button {
    border-radius: 5px;
    padding: 0.2em 1.3em;
    background-color: rgba(127, 255, 212, 0.288); }

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw; }
  footer button {
    font-size: 1.5em;
    border-radius: 5px;
    padding: 0.2em 1.3em;
    background-color: rgba(250, 235, 215, 0.596); }

@media screen and (max-width: 1200px) {
  main {
    margin: 23vh 0 0 0;
    width: 100vw;
    height: 40vh; }
  aside {
    position: absolute;
    height: 8em;
    width: 46vw;
    right: 0.5em; }
  .aside-2 {
    left: 0.5em; }
  .aside-3 {
    position: absolute;
    top: 78vh;
    left: 0.5em;
    height: 55vh; }
  .aside-4 {
    right: 0.5em;
    left: auto; }
  article {
    width: 48vw; }
  body {
    height: auto;
    padding-bottom: 63vh; } }
