* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.body {
  background-color: rgba(127, 240, 255, 0.356); }

.backgr {
  position: absolute;
  bottom: 0; }

.backgr-2 {
  right: 0;
  z-index: 4; }

.backgr-3 {
  right: 70px;
  bottom: 240px;
  height: 23em;
  z-index: 1; }

.clouds {
  right: 480px;
  bottom: 500px;
  z-index: 7; }

.pumpkinF {
  right: 560px;
  bottom: 520px;
  height: 80px;
  z-index: 6;
  animation: none;
  cursor: pointer; }

.carrotPot {
  right: 378px;
  bottom: 240px;
  height: 32px;
  z-index: 4; }

.carrotPlant {
  right: 390px;
  bottom: 208px;
  height: 50px;
  rotate: -50deg;
  z-index: 3;
  animation: none;
  cursor: pointer; }

.me {
  right: 70px;
  bottom: 250px;
  height: 195px;
  z-index: 5; }

.person {
  right: 250px;
  bottom: 250px;
  height: 140px;
  z-index: 5;
  animation: none;
  transform: 2; }

.flech {
  height: 5em;
  bottom: 400px;
  right: 10px;
  z-index: 6;
  padding: .5em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.212);
  cursor: pointer; }

main {
  width: 50vw;
  height: 27vh;
  margin: 0vh 25vw 0 25vw;
  position: absolute;
  bottom: 0.5vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5; }

aside {
  height: 4.5em;
  width: 24em;
  background-color: rgba(250, 235, 215, 0.329);
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.548);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  flex-direction: column;
  top: 1em;
  right: 1em;
  z-index: 100; }
  aside div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    width: 23em; }
  aside .div__item {
    width: auto; }
    aside .div__item img {
      height: 1.5em; }

.aside-2 {
  left: 1em; }
  .aside-2 .pedido {
    font-size: 1.3em;
    text-decoration: underline; }

.aside-3 {
  left: 1em;
  top: auto;
  bottom: 1em;
  height: 20em;
  width: 12em; }
  .aside-3 button {
    border: hidden;
    background-color: rgba(127, 255, 212, 0.288);
    border-radius: 5px;
    padding: 0.2em 1.3em; }
  .aside-3 label {
    text-decoration: underline; }

.shop {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
  width: 5vw;
  cursor: pointer;
  z-index: 5; }

.itemsMod {
  left: 2vw; }

.aside-4 {
  position: absolute;
  display: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 15vh 15vw 13vh 15vw;
  width: 70vw;
  height: 72vh;
  background-color: rgba(255, 255, 255, 0.226);
  backdrop-filter: blur(5px);
  padding: 3.5em 8vw 0 8vw; }
  .aside-4 label {
    text-decoration: underline;
    font-size: 1.5em;
    position: absolute;
    top: .5em; }
  .aside-4 #closeBut {
    right: 1.5em;
    text-decoration: none;
    cursor: pointer; }
  .aside-4 #closeButD {
    right: 1.5em;
    text-decoration: none;
    cursor: pointer; }
  .aside-4 button {
    background-color: rgba(25, 255, 236, 0.397);
    width: 13vw;
    height: 13vh;
    margin-bottom: 2em; }

article {
  height: 7em;
  width: 8em;
  background-color: rgba(250, 235, 215, 0.596);
  border-radius: 5px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.548);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  z-index: 5; }
  article div {
    height: 4em;
    width: 6em;
    background-color: rgba(215, 245, 250, 0.596);
    border-radius: 5px;
    border: 2px dashed black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center; }
    article div img {
      height: 2.2em; }
  article button {
    font-size: 0.9em;
    border-radius: 5px;
    padding: 0.1em .7em;
    background-color: rgba(127, 255, 212, 0.288); }
    article button img {
      height: 0.6em; }

.main-f {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 5; }
  .main-f button {
    font-size: 1.2em;
    border-radius: 5px;
    padding: 0.2em 1.3em;
    background-color: rgba(250, 235, 215, 0.596); }

.locked__but {
  background-color: rgba(255, 0, 0, 0.438); }

.locked-unlock {
  display: none; }

@keyframes inshop {
  0% {
    opacity: 0%;
    right: 1250px; }
  10% {
    opacity: 100%;
    right: 1250px; }
  100% {
    right: 250px; } }

@keyframes outshop {
  0% {
    opacity: 100%; }
  100% {
    opacity: 0%; } }

@keyframes falling {
  0% {
    bottom: 520px; }
  100% {
    bottom: 240px; } }

@keyframes flying {
  0% {
    bottom: 208px; }
  100% {
    bottom: 260px; } }

.appleTrees {
  display: inline-block;
  position: absolute;
  z-index: 7; }

.wheatSeeds {
  display: inline-block;
  position: absolute;
  z-index: 7;
  height: 5em;
  bottom: 240px; }

#wheatSeed {
  left: 180px;
  cursor: pointer; }

#wheatSeedB {
  left: 260px;
  cursor: pointer; }

#wheatSeedC {
  left: 340px;
  cursor: pointer; }

#appleTree {
  right: 250px;
  bottom: 520px;
  height: 3em;
  cursor: pointer; }

#appleTreeB {
  right: 160px;
  bottom: 440px;
  height: 3em;
  cursor: pointer; }

@media screen and (max-width: 1200px) {
  main {
    margin: 23vh 0 0 0;
    width: 100vw;
    height: 80vh;
    z-index: 5; }
  aside {
    position: absolute;
    height: 8em;
    width: 46vw;
    right: 0.5em; }
    aside div {
      width: 38vw; }
  .aside-2 {
    left: 0.5em; }
  .aside-3 {
    position: absolute;
    top: 120vh;
    left: 16vw;
    height: 55vh;
    width: 68vw; }
    .aside-3 label {
      font-size: 1.5em; }
  .aside-4 {
    top: 180vh; }
  article {
    width: 48vw; }
    article div {
      width: 43vw; }
  body {
    height: auto;
    padding-bottom: 125vh; } }
